rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clients/{clientId} {
      allow read, write: if true; // Ajustar conforme necessário para segurança
    }
  }
}
